# environment
.venv/

# data & outputs
data/
logs/

# keys
keys.md

# python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
/project_enzyme.egg-info

# notebooks
.ipynb_checkpoints/

# editor
.vscode/

# AI 
CLAUDE.md